body {
  font-family: 'Cutive Mono', monospace;
  margin: 0;
  padding: 0;
  transition: filter 0.3s ease;
  background-color: white;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: absolute;
  left: 1vh;
  top: 0.7vh;
  font-size: 6rem;
  color: white;
  transition: 0.3s;
  z-index: 10;
}

header:hover {
  color: rgb(198, 198, 198);
}

#caption {
  position: relative;
  left: 2vw;
  top: 2vh;
  font-size: 1vw;
  color: white;
  z-index: 5;
}

#showcase-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slide1 {
  z-index: 2;
}

#slide2 {
  z-index: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.arrow:hover {
  color: rgb(164, 164, 164);
}

#left-arrow {
  left: 1rem;
}

#right-arrow {
  right: 1rem;
}


